<div class="row mt-5">
  <div class="col-6">
    <app-events-form/>
  </div>-
  <div class = "col-6">
    <ul class="list-group">
      <li class = "list-group-item d-flex justify-content-between
align-items-start mb-2 border px-4 py-3 rounded-3"
          *ngFor="let pd of service.list">
        <div class="fw-bold">{{pd.eventName}}</div>
        <div class="fw-bold">{{pd.place}}</div>
        <div *ngFor="let pl of pd.participants">
          {{ pl.participatnNname}}

        </div>

      </li>
    </ul></div>
</div>
