<form #form = "ngForm"(submit)="onSubmit(form)">
  <input type="hidden" name = "id" [value]="service.formData.id">
  <div class="mb-3">
    <label>Name</label>
    <input class="from-control form-control-lg" placeholder="Name"
    #name="ngModel" name="name"
    [(ngModel)]="service.formData.name">
  </div>
  <div class="mb-3">
    <label>Adress</label>
    <input class="from-control form-control-lg" placeholder="Adress"
           #adress="ngModel" name="adress"
           [(ngModel)]="service.formData.adress">
  </div>
  <div class = "d-grid">
    <button class="btn btn-lg btn-succes" type = submit>Submit</button>
  </div>
</form>
